.form{
  margin-top: 5%;
  margin-left: 45%;
  float: left;
}

#map{
  float: left;
}
* {
  margin: 0 auto;
  font-family: 'Karma', serif;
}

#review{
    float: left;
    background-color: antiquewhite;
    width: 93%;
    margin-left: 1%;
    border-radius: 10px;
    padding: 1%;
border: 2px solid black;

}

#line {
    height: 0px;
    width: 100%;
    background-color: black;
    margin: 3% 0% 1% 0%;
    /*border: px solid black;*/
    float: left;
    border: 1px solid black;
}
