* {
  margin: 0 auto;
  font-family: 'Karma', serif;
}


#review{
    float: left;
    background-color: antiquewhite;
    width: 93%;
    margin-left: 1%;
    border-radius: 10px;
    padding: 1%;
border: 2px solid black;
}

@media only screen and (min-width: 451px){
  .logo-div {
    top: 9%;
    height: 7%;
  }

  .about-photo {
    width: 27%;
    display: inline-block;
    margin: 5% 0 0 5%;;
  }

  .image-logo {
    position:absolute;
    top: 16%;
    margin-left: 26%;
    text-align: center;
    z-index: -50;
    font-size: 6vw;
    font-family: 'Karma', serif;
    color: white;
  }

  .image-logo-small {
    top:31%;
    position: absolute;
    margin-left: 43%;
    text-align:center;
    z-index: -50;
    font-size: 4vw;
    font-family: 'Karma', serif;
    color: white;
  }

  .image-container img {
    width: 100vw;
    max-width: 100%;
  }

  .image-container {
    background-image: url(img/seattleSkyline.jpg);
    background-repeat: no-repeat;
    background-size:contain;
  }

  li {
    margin-right: 23px;
    list-style-type: none;
    display: inline-block;
    width: auto;
    margin-top: 10px;
    font-size: 2.5vh;
  }

  ul {
    margin-top: 24px;
    text-align: left;
  }

  .clearfix a {
    color: white;
  }

  #type {
    height: 30px;
    width: 176px;
    font-size: 1em;
  }
  .form {
    width: 260px;
    padding-top: 17%;
    margin: 0 auto;
    float: none;
  }

  .search{
    position: inherit;
    margin: 0 auto;
    width: 8em;
    padding-top: 3%;
    z-index: -50;
    font-size: 6vw;
    font-family: 'Karma', serif;
    color: white;
  }

  .flex{
    display: inline-flex;
  }

  .tswift{
    height: 87px;
    width: 100%;
    background-color: black;
  }

  #about h1{
    padding-top: 4%;
    margin: 0 auto;
    width: 7em;
    font-size: 5vw;
    font-family: 'Karma', serif;
    color: white;
  }
  #about h3{
    width: 13em;
  font-size: 3vw;
  font-family: 'Karma', serif;
  color: white;
  }
}

#line {
    height: 0px;
    width: 100%;
    background-color: black;
    margin: 3% 0% 1% 0%;
    float: left;
    border: 1px solid black;
}
