* {
  margin: 0 auto;
  font-family: 'Karma', serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  margin: 1.6% 0 0% 4.7%;
  padding: 20% 45%;
  border: 4px solid black;
  height: 20%;
}

.infopic {
  width: 150px;
  height: 150px;
}

.profile-pic{
  width: 100px;
  height: 100px;
}

#review{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 2%;
}
